@font-face {
    font-family: 'Trial Thin';
    src: url("./fonts/Trial-Thin.otf");
}

body {
    margin: 0;
}

.App {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.left {
    padding: 10px;
}

.right {
    padding: 10px;
    background-color: black;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}