@font-face {
    font-family: 'Trial Regular';
    src: url("./fonts/Trial-Regular.otf");
}

.App {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.right {
    height: 100vh;
    background-color: black;
    color: white;
}