.blog-post {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.blog-post .header {
    display: flex;
    justify-content: space-between;
}

.blog-post h3, .blog-post h4 {
    margin: 0 0 10px 0;
}

.blog-post .text {
    font-family: 'Courier New', monospace;
    font-size: small;
    white-space: pre-line;
}

.blog-post img {
    width: 100%;
}