.intro {
    display: grid;
    grid-template-areas: "title title img1 img2 img3"
                         "img4 img4 description description description";
}

#title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.2vw;
}

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
}

#img3 {
    grid-area: img3;
}

#img4 {
    grid-area: img4;
}

.intro img {
    width: 100%;
}

#description {
    grid-area: description;
    margin: 0;
    padding: 10px;
}

#description p {
    margin: 10px;
}

#contact {
    font-family: 'Courier New', monospace;
    font-size: small;
}

#contact a {
    color: black;
}
