nav ul {
    display: flex;
    justify-content: center;
    margin: 25px;
}

nav li {
    margin: 0 25px;
}

nav a {
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover, nav a:active {
    border: 1px dashed white;
    color: white;
}