nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

nav a, nav button {
    all: unset;
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover, nav a:active, nav button:hover, nav button:active {
    border: 1px dashed white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}