nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

/* nav li {
    margin: 0 25px;
} */

nav a {
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover, nav a:active {
    border: 1px dashed white;
    border-radius: 10px;
    color: white;
}