.release-thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.release-thumbnail .left {
    display: flex;
    align-items: center;
}

.release-thumbnail .right p {
    margin: 0;
    padding: 5px;
}

.release-thumbnail:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.release-thumbnail img {
    width: 50px;
}

.release-thumbnail p {
    margin: 10px;
}

